<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Tin tức hằng ngày</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <base href="http://localhost:3000/">
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300italic,400italic,600,600italic' rel='stylesheet'
    type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Crete+Round' rel='stylesheet' type='text/css'>
  <link href="css/bootstrap.css" rel="stylesheet">
  <link href="css/bootstrap-responsive.css" rel="stylesheet">
  <link href="css/style.css" rel="stylesheet">
  <link href="css/flexslider.css" type="text/css" media="screen" rel="stylesheet" />
  <link href="css/jquery.fancybox.css" rel="stylesheet">
  <link href="css/cloud-zoom.css" rel="stylesheet">

  <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
  <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  <!-- fav -->
  <link rel="shortcut icon" href="assets/ico/favicon.html">
</head>

<body>
  <!-- Header Start -->
            <div class="pull-left">
              <div class="navbar" id="topnav">
                <div class="navbar-inner">
                  <ul class="nav">
                    <li><a class="home active" href="/">Home</a>
                    <li>
                    <li><a class="shoppingcart" href="/gio-hang.html">Shopping Cart</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <!-- Top Nav End -->
          </div>
        </div>
      </div>
    </div>
    <div class="container">

      <div id="categorymenu">
        <nav class="subnav">
            <ul class="nav-pills categorymenu"></ul>
        </nav>
      </div>
    </div>
  </header> 
  <!-- #################################################################### -->
  
  <!-- <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script> -->
<!------ Include the above in your HEAD tag ---------->

<!-- <div style="height:10px"></div>
<div class="navbar-wrapper">
    <div class="container-fluid">
        <nav class="navbar navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" class="home active" href="/">NEWS</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="#" class=""><span class="glyphicon glyphicon-home"></span> Trang chủ</a></li>
                        <%   cate.forEach(function(ca){for(var i =1; i < 5; i++){if(i == ca.typeID){ %>
                        <li class=" dropdown">
                            <a href="#" class="dropdown-toggle " data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= ca.typeID%></span></a>
                            <ul class="dropdown-menu">
                              <%   cate.forEach(function(ca){for(var i =0; i < 5; i++){if(ca.typeID == 100 && i == ca.cateID){ %>
                              <li><a href="#"><%= ca.name%></a></li>
                              <% }}})%>
                            </ul>
                        </li>
                        <% }}})%>
                    </ul>
                    <ul class="nav navbar-nav pull-right">
                        <li class=" dropdown"><a href="#" class="dropdown-toggle active" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-user"></span> Trương Quốc Thịnh  <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#"><span class="glyphicon glyphicon-user"></span> Trang cá nhân</a></li>
                                <li><a href="#"><span class="glyphicon glyphicon-lock"></span> Đổi mật khẩu</a></li>
                                <li><a href="#"><span class="glyphicon glyphicon-off"></span> Thoát</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</div> -->
